<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion de tarea</title>
</head>
<body>
    <h1>Editar tarea</h1>

    <form method="post">
        <input type="text" name="title" value="{{task.title}}" required>
        <br><br>
        <input type="text" name="description" value="{{task.description}}">
        <br><br>
        <select name="status">
            <!--Se utiliza task para buscar el status de las tareas y luego actualziarlas -->>
            <option value="por hacer" {% if task.status == "todo" %}selected{% endif %}>Por hacer</option>
            <option value="en proceso" {% if task.status == "doing"%}selected{% endif%}>En proceso</option>
            <option value="hecho" {% if task.status == "done"%}selected{% endif%}>Hecho</option>
        </select>
        <br><br>
        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}">Volver</a>
</body>
</html>