<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form method="POST">
        <input type="email" name="email" placeholder="Correo" required>
        <input type="password" name="password" placeholder="contraseña" required>
        <button type="submit">Iniciar sesion</button> 
    </form>
    <p>No tienes cuenta?</p>
    <a href="{{ url_for('auth.register') }}">
      <button type="button">Registrarse</button>
    </a>
</body>
</html>