<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>REGISTROO</h1>
    <form action="" method="post">
        <input type="text" name="username" placeholder="Usuario" required>
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="contraseña" required>
        <button type="submit">Crear cuenta</button>
    </form>
</body>
</html>